@import "../common/styles/sass/vareables";
@import "../common/styles/sass/mixins";

.header {
    height: 60px;
    @include flex(row, flex-end, center, wrap);
    background-color: $backgroundSecondaryColor;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    opacity: 0.7;
}
