@import "../common/styles/sass/vareables";
@import "../common/styles/sass/mixins";

.contactBlock {
  height: 50vh;
  background-color: $backgroundColor;

  .contactContainer {
    flex-direction: column;
    justify-content: flex-start;

    .form {
      width: 100%;
      //background-color: $backgroundColor;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      margin-top: 5px;
      @media screen and (min-width: 700px) {
        width: 70%;
      }
    }

    & input, & textarea {
      width: 100%;
      margin: 5px 0;
      background-color: $backgroundColor;
      border: 1px solid $textColor;
      @include text($fontFamilyDescription, 12px, 400, 1.2, $backgroundColor)
    }

    & textarea {
      height: 150px;
    }

  }
}




