@import "../../common/styles/sass/vareables";
@import "../../common/styles/sass/mixins";

.nav {
  width: 300px;
  @include flex(row, space-between, stretch, nowrap);
  @include text($fontFamilyTitle, 14px, 600, 1.3, $textColor);
  letter-spacing: .5px;
  margin: 15px 15px;
  cursor: pointer;

  .active {
    color: $primaryColor;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }

  a:link {
    color: $textColor;
  }

  a:visited {
    color: $textColor;
  }

  a:hover {
    color: $primaryColor;
  }

  & a {
    text-decoration: none;
  }

}