.freelanceBlock {
    height: 25vh;
    background-color: #f8f4d5;
}

.freelanceContainer {
    flex-direction: column;
}

.title {
    background-color: #d0b3aa;
    text-align: center;
}

.button {
    background-color: #d0b3aa;
}