@import "../common/styles/sass/vareables";
@import "../common/styles/sass/mixins";
.freelanceBlock {
  background-color: $backgroundSecondaryColor;
  padding: 30px 0;

  .freelanceContainer {
    flex-direction: column;


  }
}




