.freelanceBlock {
    height: 50vh;
    background-color: #f8f4d5;
}

.freelanceContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #d0b3aa;
}

.button {
    background-color: #d0b3aa;
}