@import "../common/styles/sass/vareables";
@import "../common/styles/sass/mixins";
.freelanceBlock {
  //height: 15vh;
  background-color: $backgroundSecondaryColor;
  padding: 30px 0;

  .freelanceContainer {
    flex-direction: column;


  }
}




