@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/vareables.scss";

.skillsBlock {
  background: $backgroundSecondaryColor;
  position: relative;
  padding: 30px 0;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 5px;
      @media screen and (max-width: 642px) {
        justify-content: center;
      }
    }
  }
}

