@import "../common/styles/sass/mixins.scss";
@import "../common/styles/sass/vareables.scss";

.skillsBlock {
  background: $backgroundSecondaryColor;
  position: relative;
  padding: 30px 0;

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, center, wrap);
    z-index: 1;

    .skills {
      width: 100%;
      @include flex(row, space-between, center, wrap);
      padding: 5px;
      @media screen and (max-width: 642px) {
        justify-content: center;
      }
    }
  }
}

