.projectItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.picture {
    height: 150px;
    width: 200px;
    background-color: #cbf8b3;
}

.title {
    background-color: #8ba37f;
    margin-top: 2px;
    margin-left: 5px;
}

.description {
    background-color: #98a192;
    text-align: center;
    margin-top: 2px;
    margin-left: 5px;
}