.footer {
    background-color: darkseagreen;
    padding: 50px 0;
}

.footerContainer {
    flex-direction: column;
}

.footerText {
    background-color: #cbf8b3;
    margin: 10px;
}

.footerItems {
    border: 1px solid;
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}