@import "../common/styles/sass/vareables";
@import "../common/styles/sass/mixins";


.footer {
  background-color: $backgroundSecondaryColor;
  padding: 50px 0;

  .footerContainer {
    //flex-direction: column;
    @include container();
    @include flex(column, space-between, center, wrap);

    .footerText {
      padding-top: 30px;
      @include text($fontFamilyDescription, 13px, 400, 1.6, $descriptionColor)
    }

    .footerItems {
      width: 100%;
      @include flex(row, space-between, center, wrap);
      //display: flex;
      //justify-content: space-between;
      //flex-wrap: wrap;
      @media screen and (max-width: 800px) {
        justify-content: left;
      }
    }
  }
}





